Repository asafelobotomy/xanadOS-Search_Destroy, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/python, area/tooling, area/ci, area/config

.github/labeler.yml:

area/docs:
  - 'docs/**'
area/python:
  - 'app/**'
  - 'tests/**'
area/tooling:
  - 'scripts/**'
area/ci:
  - '.github/workflows/**'
area/config:
  - 'config/**'

size/XS:
  - changed-files:
      - any-glob-to-any-file: ['**']
      - max-files-changed: 2
size/S:
  - changed-files:
      - any-glob-to-any-file: ['**']
      - max-files-changed: 10
size/M:
  - changed-files:
      - any-glob-to-any-file: ['**']
      - max-files-changed: 30

fix: Update user configuration in .gitconfig_project
  .gitconfig_project
Labels: none

refactor: Clean up whitespace in .gitconfig_project for improved readability
  .gitconfig_project
Labels: none

feat: Implement comprehensive security-first CI/CD pipeline with GitHub Actions
  .github/workflows/security-ci-cd.yml
  config/security_config.toml
  docs/MODERNIZATION_SUMMARY.md
  docs/security/SECURITY_POLICY.md
  pyproject.toml
  scripts/setup-dev-environment.sh
  uv.lock
  uv.toml
Labels: area/docs, area/tooling, area/ci, area/config

refactor: Improve assertion formatting for better readability in tests
  tests/hardening/verify_unified_auth.py
  tests/test_implementation.py
  tests/test_monitoring.py
Labels: area/python

chore: cleanup backup files and update core components
  .coverage
  Makefile.new
  app/core/rkhunter_wrapper.py
  app/core/security_validator.py
  app/gui/main_window.py
  app/gui/setup_wizard.py
  archive/ARCHIVE_INDEX.md.backup-1756113305
  archive/REPOSITORY_CLEANUP_SUMMARY.md.backup-1756113305
  archive/configs/config.py.backup-20250808-160451
  package-lock.json
  releases/v2.10.0.md.backup-1756113305
  tests/README_MODERN_TESTS.md.backup-1756113305
  tests/VALIDATION_REPORT.md.backup-1756113305
Labels: area/python

fix: add return type annotations to GUI methods
  app/gui/main_window.py
Labels: area/python

fix: resolve code quality issues in main_window.py and setup_wizard.py
  Makefile.new
  app/core/rkhunter_wrapper.py
  app/gui/main_window.py
  app/utils/performance_standards.py
  docs/implementation-reports/rkhunter-false-positive-resolution.md
  scripts/setup-dev-environment.sh
  scripts/tools/quality/fix-python.sh
  uv.lock
Labels: area/docs, area/python, area/tooling

feat: essential modernization - RUF046 fix and tooling enhancement
  app/core/multi_language_support.py
  scripts/tools/quality/check-python.sh
Labels: area/python, area/tooling

Security hardening: Secure subprocess execution and temp path fixes
  app/core/auth_session_manager.py
  app/core/gui_auth_manager.py
  app/core/security_validator.py
Labels: area/python

Security: Enhanced RKHunter temp directory handling
  app/core/rkhunter_optimizer.py
  app/core/rkhunter_wrapper.py
Labels: area/python

Security: Enhanced file watcher with improved monitoring
  app/core/enhanced_file_watcher.py
Labels: area/python

Security: Integrated protection manager enhancements
  app/core/integrated_protection_manager.py
Labels: area/python

Security: Unified security engine improvements
  app/core/unified_security_engine.py
Labels: area/python

feat: Comprehensive dependency management improvements
  =1.2.2
  =2.0.0
  Makefile
  README.md
  pyproject.toml
  scripts/setup-dev-environment.sh
  scripts/setup/README.md
  scripts/setup/ensure-deps.sh
  uv.lock
Labels: area/tooling

fix: Resolve pre-commit hook validation issues
  .pre-commit-config.yaml
  app/core/network_security.py
  app/core/ui_responsiveness.py
Labels: area/python

test: Verify pre-commit hooks are working properly
  README.md
Labels: none

cleanup: Remove test line from README
  README.md
Labels: none

feat: Add comprehensive firewall optimization framework with monitoring
  app/core/firewall_detector.py
  app/core/firewall_status_optimizer.py
  app/gui/firewall_optimization_patch.py
  docs/implementation-reports/firewall-status-optimization-summary.md
  docs/implementation/firewall-status-optimization.md
  scripts/tools/demonstrate_firewall_optimization.py
  scripts/tools/test_firewall_optimization_integration.py
  scripts/tools/validate_firewall_detection_fix.py
Labels: area/docs, area/python, area/tooling

fix: Resolve ruff linting issues in Python files
  scripts/tools/rkhunter-optimizer.py
  test_gui_fix.py
Labels: area/tooling

docs: Add comprehensive git deployment summary for September 5, 2025
  docs/reports/GIT_DEPLOYMENT_SUMMARY_2025-09-05.md
Labels: area/docs

feat: Update version to 2.13.0 and enhance version management system
  CHANGELOG.md
  Makefile
  README.md
  VERSION
  config/gui_config.toml
  docs/guides/VERSION-MANAGEMENT.md
  docs/reports/GIT_DEPLOYMENT_SUMMARY_2025-09-05.md
  package.json
  pyproject.toml
  scripts/tools/git/pre-commit-version-sync.sh
  scripts/tools/version-bump.sh
  scripts/tools/version_manager_new.py
  scripts/tools/version_manager_old.py
  uv.lock
Labels: area/docs, area/tooling, area/config

feat(security): Implement comprehensive security improvements for RKHunter scripts
  Makefile
  package.json
  scripts/tools/README.md
  scripts/tools/debug/apply-debug-fixes.sh
  scripts/tools/firewall/demonstrate_firewall_optimization.py
  scripts/tools/firewall/test_firewall_optimization_integration.py
  scripts/tools/firewall/validate_firewall_detection_fix.py
  scripts/tools/git/pre-commit-version-sync.sh
  scripts/tools/maintenance/critical-scripts-cleanup.sh
  scripts/tools/maintenance/optimize-pylance-performance.sh
  scripts/tools/maintenance/validate-cleanup.sh
  scripts/tools/quality/fix-imports.sh
  scripts/tools/security/improve-script-security.sh
  scripts/tools/security/rkhunter-false-positive-fix.sh
  scripts/tools/security/rkhunter-optimizer.py
  scripts/tools/version/check_versions.py
  scripts/tools/version/version-bump.sh
  scripts/tools/version/version_manager.py
  scripts/tools/version_manager_new.py
  scripts/tools/version_manager_old.py
  uv.lock
Labels: area/tooling

chore: Perform comprehensive root directory cleanup and reorganization
  .github/.gitconfig_project
  .github/.gitmessage
  .node-version
  config/cspell.json
  docs/guides/VALIDATION-SYSTEM-GUIDE.md
  docs/implementation-reports/root-directory-cleanup-report.md
  package.json
Labels: area/docs, area/config

feat: Add scripts for setup configuration fix and comprehensive repository maintenance
  README.md
  app/core/automatic_updates.py
  app/core/clamav_wrapper.py
  app/core/firewall_detector.py
  app/core/gui_auth_manager.py
  app/core/rkhunter_monitor_non_invasive.py
  app/core/rkhunter_optimizer.py
  app/core/system_hardening.py
  app/gui/rkhunter_optimization_tab.py
  app/gui/setup_wizard.py
  archive/ARCHIVE_INDEX.md
  archive/performance-monitoring/logs_2025-09-05_223529/README.md
  archive/temp-testing/test_config_fix.py
  archive/temp-testing/test_cron_integration.py
  archive/temp-testing/test_optimization_direct.py
  archive/temp-testing/test_optimization_fixes.py
  archive/temp-testing/test_rkhunter_fix.py
  archive/temp-testing/test_rkhunter_fixes.py
  config/cspell.json
  docs/implementation-reports/cron-integration-summary.md
  docs/implementation-reports/first-time-setup-dialog-fix.md
  docs/implementation-reports/maintenance-report-2025-09-05_223529.md
  docs/implementation-reports/rkhunter-fix-summary.md
  docs/security/security-assessment-report-2025-09-05.md
  docs/security/security_analysis.json
  fix_setup_config.py
  scripts/flathub/flathub-submission-assistant.sh
  scripts/setup/modern-dev-setup.sh
  scripts/tools/maintenance/comprehensive-cleanup.py
  tests/test_improved_status.py
  tests/test_rkhunter_status.py
Labels: area/docs, area/python, area/tooling, area/config

release: Version 2.13.1 - Fix recurring First Time Setup dialog
  CHANGELOG.md
  README.md
  VERSION
  config/gui_config.toml
  package.json
  pyproject.toml
Labels: area/config

Refactor code structure for improved readability and maintainability
  CONTRIBUTING.md
  README.md
  docs/developer/BUILD_GUIDE.md
  docs/developer/CONTRIBUTING.md
  docs/screenshots/1 - Dashboard.png
  docs/screenshots/2- Scan.png
  docs/screenshots/3 - Protection.png
  docs/screenshots/4 - Hardening.png
  docs/screenshots/5 - Reports.png
  docs/screenshots/6 - Settings.png
  docs/screenshots/dashboard.png
Labels: area/docs

feat: Add comprehensive screenshots for enhanced user guidance in README
  README.md
Labels: none

docs: Add release notes for v2.13.1
  releases/v2.13.1.md
Labels: none

fix: Correct formatting in performance grade section of release notes
  releases/v2.13.1.md
Labels: none

feat(flatpak): Modernize Flatpak manifest with latest ClamAV 1.4.3
  packaging/flatpak/io.github.asafelobotomy.SearchAndDestroy.yml
Labels: none

feat: Implement prevention mechanisms for deprecated file restoration in VS Code
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  Makefile
  app/core/elevated_runner_simple.py
  docs/developer/VS_CODE_FILE_RESTORATION_FIX.md
  scripts/tools/version-bump.sh
  scripts/utils/prevent-file-restoration.sh
  uv.lock
Labels: area/docs, area/python, area/tooling

🧹 Remove deprecated files and implement comprehensive VS Code restoration prevention
  fix_setup_config.py
Labels: none

chore: comprehensive repository maintenance
  .gitignore
  docs/implementation-reports/maintenance-report-2025-09-07_191318.md
  package-lock.json
  packaging/flatpak/io.github.asafelobotomy.SearchAndDestroy.yml
Labels: area/docs

feat: Add comprehensive setup validation and environment health check script
  .node-version
  Makefile
  app/core/clamav_wrapper.py
  app/core/rkhunter_wrapper.py
  app/core/ui_responsiveness.py
  app/core/unified_performance_optimizer.py
  app/gui/firewall_optimization_patch.py
  app/gui/rkhunter_optimization_tab.py
  app/gui/setup_wizard.py
  app/gui/theme_manager.py
  app/gui/thread_cancellation.py
  coverage.xml
  docs/reports/MODERNIZATION_REPORT_2024.md
  docs/reports/MODERNIZATION_UPDATE_SUMMARY.md
  docs/reports/SETUP_OPTIMIZATION_COMPLETE.md
  package-lock.json
  package.json
  pnpm-lock.yaml
  pyproject.toml
  requirements-fixed.txt
  requirements.txt
  scripts/tools/maintenance/comprehensive-cleanup.py
  scripts/tools/modernization/implement_modernization_2024.py
  scripts/tools/modernization/run_modernization.sh
  scripts/tools/security/rkhunter-optimizer.py
  scripts/tools/setup/resolve-dependency-conflicts.sh
  scripts/tools/setup/validate-setup.sh
  scripts/tools/testing/unified-test-runner.sh
  scripts/tools/validation/debug_rkhunter.py
  scripts/tools/validation/enhanced-quick-validate.sh
  scripts/tools/validation/final_rkhunter_validation.py
  scripts/tools/validation/fix_rkhunter_config.py
  scripts/tools/validation/fix_tools_quality.py
  scripts/tools/validation/fix_warnings.sh
  scripts/tools/validation/quick_quality_fixes.sh
  scripts/tools/validation/test-installation-fixes.py
  scripts/tools/validation/test_gui_rkhunter.py
  scripts/tools/validation/test_rkhunter_config.py
  scripts/tools/validation/test_rkhunter_direct.py
  scripts/tools/validation/test_rkhunter_final.py
Labels: area/docs, area/python, area/tooling

Refactor code structure for improved readability and maintainability
  Makefile.new
  README.md
  app/core/rkhunter_monitor_non_invasive.py
  app/core/rkhunter_optimizer.py
  app/core/rkhunter_wrapper.py
  app/core/ui_responsiveness.py
  app/gui/rkhunter_optimization_tab.py
  archive/legacy-versions/python-deps-20250910/requirements-fixed.txt
  archive/legacy-versions/python-deps-20250910/requirements.txt
  docs/guides/UNIFIED_SETUP_GUIDE.md
  docs/implementation-reports/REPOSITORY_CLEANUP_COMPLETE.md
  docs/implementation-reports/UNIFIED_SETUP_IMPLEMENTATION.md
  docs/implementation-reports/maintenance-report-2025-09-10_210600.md
  docs/implementation-reports/maintenance-report-2025-09-10_212029.md
  docs/reports/setup-review-2025-09-10.md
  docs/reports/test-coverage/coverage.xml
  pyproject.toml
  scripts/setup/README.md
  scripts/setup/modern-dev-setup.sh
  scripts/tools/maintenance/comprehensive-cleanup.py
  scripts/tools/modernization/implement_modernization_2024.py
  scripts/tools/validation/debug_rkhunter.py
  scripts/tools/validation/enhanced-quick-validate.sh
  scripts/tools/validation/final_rkhunter_validation.py
  scripts/tools/validation/fix_rkhunter_config.py
  scripts/tools/validation/test-installation-fixes.py
  scripts/tools/validation/test_gui_rkhunter.py
  scripts/tools/validation/test_rkhunter_config.py
  scripts/tools/validation/test_rkhunter_direct.py
  scripts/tools/validation/test_rkhunter_final.py
  scripts/tools/version/version_manager.py
  uv.lock
Labels: area/docs, area/python, area/tooling

feat: Add run, run-debug, dev, clean, lint, and format targets to Makefile
  Makefile
Labels: none

chore: add .npmrc to enforce pnpm usage and disable package-lock.json creation
  .gitignore
  .npmrc
  package-lock.json
Labels: none

Refactor repository structure and remove deprecated test scripts
  app/core/rkhunter_optimizer.py
  debug_config_issues.py
  docs/analysis/proposed_single_config_architecture.py
  docs/implementation-reports/repository-cleanup-2025-09-16.md
  proposed_single_config_architecture.py
  quick_test_fix.py
  scripts/debug/debug_config_issues.py
  test_optimization_fix.py
  test_single_config_complete.py
  tests/integration/quick_test_fix.py
  tests/integration/test_optimization_fix.py
  tests/integration/test_single_config_complete.py
Labels: area/docs, area/python, area/tooling

Add comprehensive rate limiting tests and validation scripts
  app/api/client_sdk.py
  app/api/security_api.py
  app/core/exceptions.py
  app/utils/config.py
  app/utils/config_migration.py
  docs/implementation-reports/PHASE_3_SECURITY_COMPLETION_SUMMARY.md
  docs/implementation-reports/path-review-2025-09-16.md
  docs/implementation-reports/phase2-complete-security-report.md
  docs/implementation-reports/phase2-task4-rate-limiting-complete.md
  package.json
  pyproject.toml
  scripts/debug/debug_config_issues.py
  scripts/tools/compatibility/phase_integration_fix.py
  scripts/tools/security/check_api_config.py
  scripts/tools/security/comprehensive_security_validation.py
  scripts/tools/security/phase3_exception_validation.py
  scripts/tools/security/phase3_security_validation.py
  scripts/tools/security/test_rate_limiting.py
  scripts/tools/security/validate_rate_limiting.py
  tests/hardening/verify_unified_auth.py
  tests/integration/quick_test_fix.py
  tests/integration/test_optimization_fix.py
  tests/integration/test_single_config_complete.py
  tests/test_exception_handling.py
  tests/test_improved_status.py
  uv.lock
Labels: area/docs, area/python, area/tooling

fix: improve compatibility fixes for Pydantic, SQLAlchemy, and Redis typing
  scripts/tools/compatibility/phase_integration_fix.py
Labels: area/tooling
